/*Estilização do cabeçalho*/
body {
    background-color: #666666;
}
header {
    background: #262f36;
    display: inline-block;
    margin: auto;
    width: 25%;
}
.nome {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
}
.foto {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    border-radius: 50%;
    padding: 20px 5px;
}
.bem-vindo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 10px 50px;
}
.linkedin {
    margin-top: 15px;
    margin-left: 180px;
}
.git {
    margin-left: 10px;
}
.email {
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 20px;
}

/*Estilização do conteúdo*/
/*Section 1*/
main {
    position: fixed;
    width: auto;
    bottom: 0;
    left: 26%;
    right: 0;
}
.t1 {
    font-size: 40px;
    color:white;
    padding: 5px 5px;
}
.resumo {
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    width: 100%;
}
.botao {
    width: 20%;
    padding: 15px 0;
    margin: 10px auto;
    background: #262f36;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
hr {
    width: 100%;
    size: 3px;
}