* {
    box-sizing: border-box;
}
body {
    background-color: #0b0b24;
}

/*Estilização do cabeçalho*/

header {
    background: #262f36;
    display: inline-block;
    width: 25%;
    height: 60.6rem;
}
.nome {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foto {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    border-radius: 50%;
    padding: 20px 5px;
}
.bem-vindo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.linkedin {
    margin-top: 25px;
    margin-left: 180px;
}
.git {
    margin-left: 10px;
}
.email {
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Estilização do conteúdo*/
/*Section 1*/
main {
    position: fixed;
    width: auto;
    bottom: 0;
    left: 26%;
    right: 0;
    top: 10px;
}
.t1 {
    font-size: 40px;
    font-weight: bold;
    color:white;
    padding: 5px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resumo {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding: 5px 5px;
    width: 99%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao {
    float: left;
    width: 20%;
    padding: 15px 0;
    margin: 1rem 1rem;
    background: #262f36;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.botao:hover {
    transform: scale(1.1);
}
hr {
    width: 100%;
    size: 3px;
    margin-bottom: 20px;
}

/*Section 2*/

.t2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resumo-2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0;
}
.p-front, .p-back, .p-db, .p-frameworks, .logos {
    margin: 10px 0;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.front {
    display: inline-block;
}
.back, .db {
    display: inline-block;
    margin: 0 200px;
}
.front-frameworks {
    margin-top: 40px;
    display: inline-block;
}
.back-frameworks {
    display: inline-block;
    margin-left: 187px;
}
.tools {
    display: inline-block;
    margin-left: 225px;
}

/*Estilização do rodapé*/

footer {
    text-align: center;
    height: 3rem;
    font-size: 15px;
    color: white;
}
.copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
}

/*Responsividade para mobile*/
@media screen and (max-width: 480px){
    header {
        width: 100%;
        height: auto;
    }
    .foto {
        margin-left: 4rem;
        padding: 0 0;
    }
    .linkedin {
        margin-left: 10rem;
    }
    main {
        margin-top: 1rem;
        position: static;
        text-align: center;
    }
    .t1 {
        font-size: 25px;
        text-align: center;
    }
    .resumo, .resumo-2 {
        font-size: 15px;
    }
    .botao {
        font-size: 12px;
        width: 42%;
    }
    .t2{
        font-size: 25px;
    }
    .back, .db, .back-frameworks, .tools {
        display: block;
        margin: 0 auto;
    }
    .front-frameworks {
        margin: auto 0;
    }
}